.DS_STORE
web/node_modules
target/
.idea/
.vagrant/
npm-debug.log
web/generated.json
web/report.json
web/women-report.json
web/men-report.json
web/kids-report.json
web/lingerie-report.json
MavenCucumberTests.iml