<div class="panel panel-danger"
     ng-repeat="error in errors track by $index" ng-show="hasButtonVisibilityErrors(error.categoryErrors)">

    <div class="panel-heading"
         ng-show="hasButtonVisibilityErrors(error.categoryErrors)">

        {{ error.testDescription }}

        <a data-toggle="collapse" data-target="#{{ category }}-btn-vis-{{ $index }}" href="javascript:void(0)">
            <span class="glyphicon glyphicon-minus pull-right"></span>
        </a>

    </div>

    <div id="{{ category }}-btn-vis-{{ $index }}" class="panel-body panel-collapse collapse"
         ng-show="hasButtonVisibilityErrors(error.categoryErrors)">

        <table class="table table-condensed">
            <thead>
            <tr>
                <td>T-Code</td>
                <td>URL</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="page in error.categoryErrors.buttonVisibilityErrors">
                <td>
                    <span ng-bind="page.code"></span>
                </td>
                <td>
                    <a href="{{ page.url }}" target="_blank">{{ page.url }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>